<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="orangeHRM">
  <test thread-count="5" name="TC__02">
    <classes>
      <class name="orangeHRM_Test.TC_02_searchUserInUserManagement"/>
    </classes>
  </test> <!-- TC__02 -->
</suite> <!-- orangeHRM -->
